# Python
__pycache__/
*.py[cod]
*$py.class

# Pycharm
.idea/

# VsCode
.vscode/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# 数据集
Tensorflow/X_ray_ChildPneumonia/data/

# 二次元发色分类
Torch/ClassProject/3/faces/
Torch/ClassProject/3/animefaces/*.jpg
Torch/ClassProject/3/data/
Torch/ClassProject/3/*.pth


# 数字分类
Torch/ClassProject/4/data/


# CNN 的应用
Torch/ClassProject/6/*.pth

